black
coverage
flake8
isort
mypy
pyflakes
pytest
pylint
ruff
typing_extensions
types-pytz
types-requests
types-Pillow
types-python-dateutil
types-pytz
types-requests
types-urllib3
typing_extensions
typing-inspect

